ion-content {
  background-color: #f5f5f5;
}

ion-button {
  margin: 10px 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}

p {
  color: #666;
}

.paypal-tabs-bar {
  background: #fff !important;
}

ion-tab-bar {
  --background: #fff !important;
  background: #fff !important;
  border-top: 1px solid #e0e3eb;
  height: 60px;
  box-shadow: 0 -2px 8px rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-tab-button {
  color: #000000;
  --color-selected: #003087;
  font-size: 0.93em;
  background: transparent;
}
