<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container" style="text-align:center;">
    <ion-avatar style="margin:auto; margin-bottom:16px; width:96px; height:96px;">
      <img [src]="photoURL || 'assets/download.svg'" alt="Profile Picture" style="width:100%;height:100%;object-fit:cover;border-radius:50%;">
    </ion-avatar>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="displayName" placeholder="Enter your name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-input [(ngModel)]="bio" placeholder="Enter your bio"></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="saveProfile()">
      {{ (displayName && bio) ? 'Save' : 'Edit' }}
    </ion-button>
  </div>
</ion-content>
